* {
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}

.header {
    background-image: url("../img/83451-2006.jpg");
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
    position: relative;
}

.header2 {
    z-index: 100;
    width: 100%;
    height: 800px;
    position: relative;
    background: linear-gradient(rgb(230, 100, 101, 0.8), rgb(250, 244, 66, 0.8));
}



.creative {
    font-style: oblique;
    color: white;
}

.welcome {
    color: white;
    font-size: 120px;
    font-weight: bolder;
}

.title {
    margin-top: 150px;
}


.bor {
    display: flex;
    justify-content: center;
}
.bor1 {
    border-top: 4px solid white;
    width: 80px;
}

.learn {
    background-color: black;
    border: 2px solid black;
}

.what {
    font-style: oblique;
}

.pad {
    margin-top: 50px;
}
.bor3 {
    display: flex;
    justify-content: center;
}

.bor4 {
    border-bottom: 4px solid red;
    width: 50px;
}

.project1 {
    width: 350px;
    height: 250px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 5px;
    background-color: #95E1D3;
}

.project2 {

    width: 350px;
    height: 250px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 5px;
    background-color: #95E1D3;
}

.project3 {

    width: 350px;
    height: 250px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 5px;
    background-color: #95E1D3;
}

.border {
    position: absolute;
    width: 350px;
    height: 370px;
}

.pos {
    height: 250px;
    width: 350px;
    z-index: 0;
    position: absolute;
    left: 0px;
}


.text1 {
    position: absolute;
    z-index: 1;
    height: 250px;
    width: 350px;
    top: -10px;
    left: -10px;
    background-color: rgba(31, 30, 30, 0);
}

.border:hover .text1 {
    top: -10px;
    background: linear-gradient(rgb(230, 100, 101, 0.8), rgb(250, 244, 66, 0.8));
}


.border:hover img {
    height: 250px;
    left: -10px;
    top: -10px;

}

.cardimg1 {
    margin: 30px;
    padding: 50px;
}


.containir {
    display: flex;
    justify-content: space-between;
}

.fon {
    background-color: #95E1D3;
    height: 193px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.col1 {
    border-left: 1px solid #B5EAE0;
    border-right: 1px solid #B5EAE0;
}

.col1 p {
    color: white;
}

.col1 h1 {
    font-size: 80px;
    color: white;
}


.dflex {
    display: flex;
    align-items: center;
}

.icn {
    color: #95E1D3;
    margin-right: 10px;
}


.contant {
    margin-bottom: 50px;
}

.img-forest {
    background-image: url("/img/3069660626_w640_h640_3069660626.webp");
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
    position: relative;
    overflow: hidden;
    margin-bottom: 100px;
}



.mt {
    padding-top: 100px;
}

.ipad {
    width: 600px;
    position: absolute;
    left: 300px;
    top: 250px;
}

.iphone {
    width: 400px;
    position: absolute;
    left: 670px;
    top: 2680px;
    z-index: 1000;
}

.image img {
    width: 100%;
}


.comment {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 300px;
    background-color: rgba(128, 128, 128, 0.16);
}

.comment__items {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 300px;
}

.icn1 {
    margin-right: 20px;
    color: #95E1D3;
    border: 5px solid #95E1D3;
    padding: 20px;
}

.project4 {
    width: 350px;
    height: 370px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 5px;
    background-color: #95E1D3;
    overflow: hidden;
}

.border4 {
    position: absolute;
    width: 350px;
    height: 370px;
    overflow: hidden;
}

.pos4 {
    width: 350px;
    height: 370px;
    z-index: 0;
    position: absolute;
    left: 0px;
}


.text4 {
    position: absolute;
    z-index: 1;
    width: 350px;
    height: 370px;
    top: -10px;
    left: -10px;
    background-color: rgba(31, 30, 30, 0);
}

.border4:hover .text4 {
    top: -10px;
    background: linear-gradient(rgb(230, 100, 101, 0.8), rgb(250, 244, 66, 0.8));
}


.border4:hover img {
    width: 350px;
    height: 370px;;
    left: -10px;
    top: -10px;

}

.project5 {
    width: 350px;
    height: 370px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 5px;
    background-color: #95E1D3;
    overflow: hidden;
}

.project6 {
    width: 350px;
    height: 370px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 5px;
    background-color: #95E1D3;
    overflow: hidden;
}





.icon__in__proj1 , .icon__in__proj2, .icon__in__proj3 {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -50px;
    border: 2px solid #FBE389;
    background-color: #FBE389;
    padding: 10px;
}

.border4:hover .icon__in__proj1 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 170px;
    left: 90px;
}

.border4:hover .icon__in__proj2 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 170px;
    left: 160px;
}

.border4:hover .icon__in__proj3 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 170px;
    left: 230px;
}

.icon__in__proj1:hover  {
    border: 2px solid #F38181;
    background-color: #F38181;
}

.icon__in__proj2:hover  {
    background-color: #F38181;
    border: 2px solid #F38181;
}

.icon__in__proj3:hover  {
    background-color: #F38181;
    border: 2px solid #F38181;
} 

 .small__gray {
    font-size: 10px;
    color: gray;
}

.gray__bgc {
    height: 200px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.16);
}


.content {  
    display: grid;
    grid-template-areas: 
    'item1 items1 items2 item2 item3 item3 item4 item4'
    'item5 items5 items6 item6 item3 item3 item7 item7';
}

.item1 {
    grid-area: item1;
}

.item1 img {
    height: 310px;
    width: 400px;
}

.item2 {
    grid-area: item2;

}

.item2 img {
    height: 310px;
    width: 400px;
}

.item3 {
    grid-area: item3;

}

.item3 img {
    height: 626px;
    width: 400px;
}

.item4 {
    grid-area: item4;

}

.item4 img {
    height: 310px;
    width: 400px;
}

.item5 {
    grid-area: item5;

}

.item5 img {
    height: 310px;
    width: 400px;
}

.item6 {
    grid-area: item6;

}

.item6 img {
    height: 310px;
    width: 400px;
}

.item7 {
    grid-area: item7;

}

.item7 img {
    height: 310px;
    width: 400px;
}


.radius {
    border-radius: 50%;
    height: 100px;
}

.text {
    margin-left: 40px;
}


.author {
    background-image: url("../img/nature-gori-doroga-chb-kholmi-peizazh-62408.jpeg");
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
}

.author2 {
    z-index: 100;
    width: 100%;
    height: 800px;
    position: relative;
    background: rgba(255, 255, 255, 0.66);
    
}

.dflex2 {
    display: flex;
}

.bor {
    width: 80px;
    border-bottom: 2px solid red;
}

.small {
    font-size: 13px;
}

