* {
    box-sizing: border-box;
}

.header {
    background-image: url("../img/83451-2006.jpg");
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
    position: relative;
}

.header2 {
    z-index: 100;
    width: 100%;
    height: 800px;
    position: relative;
    background: linear-gradient(rgb(230, 100, 101, 0.8), rgb(250, 244, 66, 0.8));
}



.creative {
    font-style: oblique;
    color: white;
}

.welcome {
    color: white;
    font-size: 120px;
    font-weight: bolder;
}

.title {
    margin-top: 150px;
}


.bor {
    display: flex;
    justify-content: center;
}
.bor1 {
    border-top: 4px solid white;
    width: 80px;
}

.learn {
    background-color: black;
    border: 2px solid black;
}

.what {
    font-style: oblique;
}

.pad {
    margin-top: 50px;
}
.bor3 {
    display: flex;
    justify-content: center;
}

.bor4 {
    border-bottom: 4px solid red;
    width: 50px;
}

.project1 {
    width: 350px;
    height: 250px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 5px;
    background-color: #95E1D3;
}

.project2 {

    width: 350px;
    height: 250px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 5px;
    background-color: #95E1D3;
}

.project3 {

    width: 350px;
    height: 250px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 5px;
    background-color: #95E1D3;
}

.border {
    position: absolute;
    width: 350px;
    height: 370px;
}

.pos {
    height: 250px;
    width: 350px;
    z-index: 0;
    position: absolute;
    left: 0px;
}


.text1 {
    position: absolute;
    z-index: 1;
    height: 250px;
    width: 350px;
    top: -10px;
    left: -10px;
    background-color: rgba(31, 30, 30, 0);
}

.border:hover .text1 {
    top: -10px;
    background: linear-gradient(rgb(230, 100, 101, 0.8), rgb(250, 244, 66, 0.8));
}


.border:hover img {
    height: 250px;
    left: -10px;
    top: -10px;

}

.cardimg1 {
    margin: 30px;
    padding: 50px;
}

@media (max-width:1244px) {
    .cardimg1 {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .title .creative {
        font-size: 50px;
    }
    .title .welcome {
        font-size: 60px;
    }
}   

.containir {
    display: flex;
    justify-content: space-between;
}

.fon {
    background-color: #95E1D3;
    height: 193px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.col1 {
    border-left: 1px solid #B5EAE0;
    border-right: 1px solid #B5EAE0;
}

.col1 p {
    color: white;
}

.col1 h1 {
    font-size: 80px;
    color: white;
}

@media(max-width:1200px) {
    .fon {
        height: 384px;
    }

    .col1 {
        border-top: 1px solid #B5EAE0;
        border-bottom: 1px solid #B5EAE0;
    }
}

@media(max-width:992px) {
    .fon {
        height: 565px;
    }

    .col1 {
        border-top: 1px solid #B5EAE0;
        border-bottom: 1px solid #B5EAE0;
    }
}

@media(max-width:601px) {
    .fon {
        height: 940px;
    }

    .col1 {
        border-top: 1px solid #B5EAE0;
        border-bottom: 1px solid #B5EAE0;
    }
}

.dflex {
    display: flex;
    align-items: center;
}

.icn {
    color: #95E1D3;
    margin-right: 10px;
}


.contant {
    margin-bottom: 50px;
}

.img-forest {
    background-image: url("/img/3069660626_w640_h640_3069660626.webp");
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
    position: relative;
    overflow: hidden;
    margin-bottom: 100px;
}

@media (max-width:280px) {
    .cardimg1 {
        width: 250px;
    }

    .project1, .project2, .project3 {
        width: 250px;
    }

    .border {
        width: 250px;
    }
    
    .pos {
        width: 250px;
    }

    .text1 {
        width: 250px;
    }
}

@media (max-width:360px) {
    .cardimg1 {
        width: 250px;
    }

    .project1, .project2, .project3 {
        width: 250px;
    }

    .border {
        width: 250px;
    }
    
    .pos {
        width: 250px;
    }

    .text1 {
        width: 250px;
    }
}

.mt {
    padding-top: 100px;
}

.ipad {
    width: 600px;
    position: absolute;
    left: 300px;
    top: 250px;
}

.iphone {
    width: 400px;
    position: absolute;
    left: 670px;
    top: 2550px;
    z-index: 1000;
}


@media (max-width:1245px) {
    .ipad {
        width: 500px;
        position: absolute;
        left: 300px;
        top: 290px;
    }
    
    .iphone {
        width: 300px;
        position: absolute;
        left: 630px;
        top: 2680px;
        z-index: 1000;
    }
}

@media (max-width:1200px) {
    .ipad {
        width: 450px;
        position: absolute;
        left: 310px;
        top: 325px;
    }
    
    .iphone {
        width: 250px;
        position: absolute;
        left: 630px;
        top: 3500px;
        z-index: 1000;
    }
}


@media (max-width:1152px) {
    .ipad {
        width: 450px;
        position: absolute;
        left: 280px;
        top: 325px;
    }
    
    .iphone {
        width: 250px;
        position: absolute;
        left: 600px;
        top: 3550px;
        z-index: 1000;
    }
}

@media (max-width:993px) {
    .ipad {
        width: 450px;
        position: absolute;
        left: 200px;
        top: 325px;
    }
    
    .iphone {
        width: 250px;
        position: absolute;
        left: 500px;
        top: 3760px;
        z-index: 1000;
    }
}

@media (max-width:746px) {
    .ipad {
        width: 350px;
        position: absolute;
        left: 100px;
        top: 420px;
    }
    
    .iphone {
        width: 200px;
        position: absolute;
        left: 350px;
        top: 3810px;
        z-index: 1000;
    }
}


@media (max-width:613px) {
    .ipad {
        width: 350px;
        position: absolute;
        left: 60px;
        top: 420px;
    }
    
    .iphone {
        width: 200px;
        position: absolute;
        left: 300px;
        top: 3870px;
        z-index: 1000;
    }
}

@media (max-width:601px) {
    .ipad {
        width: 350px;
        position: absolute;
        left: 60px;
        top: 420px;
    }
    
    .iphone {
        width: 200px;
        position: absolute;
        left: 300px;
        top: 4370px;
        z-index: 1000;
    }
}

@media (max-width:500px) {
    .ipad {
        width: 300px;
        position: absolute;
        left: 30px;
        top: 450px;
    }
    
    .iphone {
        width: 190px;
        position: absolute;
        left: 230px;
        top: 4380px;
        z-index: 1000;
    }
}

@media (max-width:479px) {
    .ipad {
        width: 300px;
        position: absolute;
        left: 10px;
        top: 450px;
    }
    
    .iphone {
        width: 190px;
        position: absolute;
        left: 210px;
        top: 4500px;
        z-index: 1000;
    }
}

@media (max-width:445px) {
    .ipad {
        width: 300px;
        position: absolute;
        left: 10px;
        top: 450px;
    }
    
    .iphone {
        width: 190px;
        position: absolute;
        left: 210px;
        top: 4560px;
        z-index: 1000;
    }
}

@media (max-width:445px) {
    .ipad {
        width: 250px;
        position: absolute;
        left: 10px;
        top: 490px;
    }
    
    .iphone {
        width: 150px;
        position: absolute;
        left: 190px;
        top: 4620px;
        z-index: 1000;
    }
}

@media (max-width:391px) {
    .ipad {
        width: 250px;
        position: absolute;
        left: 10px;
        top: 490px;
    }
    
    .iphone {
        width: 150px;
        position: absolute;
        left: 190px;
        top: 4680px;
        z-index: 1000;
    }
}

@media (max-width:361px) {
    .ipad {
        width: 250px;
        position: absolute;
        left: 0px;
        top: 490px;
    }
    
    .iphone {
        width: 150px;
        position: absolute;
        left: 160px;
        top: 4680px;
        z-index: 1000;
    }
}

@media (max-width:281px) {
    .ipad {
        width: 230px;
        position: absolute;
        left: -10px;
        top: 510px;
    }
    
    .iphone {
        width: 130px;
        position: absolute;
        left: 140px;
        top: 4850px;
        z-index: 1000;
    }
}

.image img {
    width: 100%;
}

.comment {

}

.comment__items {
    padding: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 300px;
    background-color: rgba(128, 128, 128, 0.16);
}

.icn1 {
    margin-right: 20px;
    color: #95E1D3;
    border: 5px solid #95E1D3;
    padding: 20px;
}

@media (max-width:490px) {
    .block {
        display: none;
    }
}

.project4 {
    width: 350px;
    height: 370px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 5px;
    background-color: #95E1D3;
    overflow: hidden;
}

.border4 {
    position: absolute;
    width: 350px;
    height: 370px;
    overflow: hidden;
}

.pos4 {
    width: 350px;
    height: 370px;
    z-index: 0;
    position: absolute;
    left: 0px;
}


.text4 {
    position: absolute;
    z-index: 1;
    width: 350px;
    height: 370px;
    top: -10px;
    left: -10px;
    background-color: rgba(31, 30, 30, 0);
}

.border4:hover .text4 {
    top: -10px;
    background: linear-gradient(rgb(230, 100, 101, 0.8), rgb(250, 244, 66, 0.8));
}


.border4:hover img {
    width: 350px;
    height: 370px;;
    left: -10px;
    top: -10px;

}

.project5 {
    width: 350px;
    height: 370px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 5px;
    background-color: #95E1D3;
    overflow: hidden;
}

.project6 {
    width: 350px;
    height: 370px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 5px;
    background-color: #95E1D3;
    overflow: hidden;
}





.icon__in__proj1 , .icon__in__proj2, .icon__in__proj3 {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -50px;
    border: 2px solid #FBE389;
    background-color: #FBE389;
    padding: 10px;
}

.border4:hover .icon__in__proj1 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 170px;
    left: 90px;
}

.border4:hover .icon__in__proj2 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 170px;
    left: 160px;
}

.border4:hover .icon__in__proj3 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 170px;
    left: 230px;
}

.icon__in__proj1:hover  {
    border: 2px solid #F38181;
    background-color: #F38181;
}

.icon__in__proj2:hover  {
    background-color: #F38181;
    border: 2px solid #F38181;
}

.icon__in__proj3:hover  {
    background-color: #F38181;
    border: 2px solid #F38181;
}

@media (max-width:330px) {

    .project4, .project5, .project6 {
        width: 250px;
    }

    .border4 {
        width: 250px;
    }
    
    .pos4 {
        width: 250px;
    }

    .text4 {
        width: 250px;
    }

    .border4:hover .text4 {
        top: -10px;
        background: linear-gradient(rgb(230, 100, 101, 0.8), rgb(250, 244, 66, 0.8));
    }
    
    
    .border4:hover img {
        width: 250px;
        left: -10px;
        top: -10px;
    
    }

    .border4:hover .icon__in__proj1 {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 170px;
        left: 30px;
    }
    
    .border4:hover .icon__in__proj2 {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 170px;
        left: 60px;
    }
    
    .border4:hover .icon__in__proj3 {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 170px;
        left: 90px;
    }

    .icon__in__proj1 , .icon__in__proj2, .icon__in__proj3 {
        width: 30px;
        height: 30px;
        position: absolute;
        top: -150px;
        border: 2px solid black;
        padding: 10px;
}
}

@media (max-width:385px) {

    .project4, .project5, .project6 {
        width: 250px;
    }

    .border4 {
        width: 250px;
    }
    
    .pos4 {
        width: 250px;
    }

    .text4 {
        width: 250px;
    }

    .border4:hover .text4 {
        top: -10px;
        background: linear-gradient(rgb(230, 100, 101, 0.8), rgb(250, 244, 66, 0.8));
    }
    
    
    .border4:hover img {
        width: 250px;
        left: -10px;
        top: -10px;
    
    }

    .border4:hover .icon__in__proj1 {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 170px;
        left: 30px;
    }
    
    .border4:hover .icon__in__proj2 {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 170px;
        left: 100px;
    }
    
    .border4:hover .icon__in__proj3 {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 170px;
        left: 170px;
    }

    .icon__in__proj1 , .icon__in__proj2, .icon__in__proj3 {
        width: 50px;
        height: 50px;
        position: absolute;
        top: -150px;
        border: 2px solid black;
        padding: 10px;
}
}